@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('../fonts/Poppins-Regular.ttf') format('truetype');
}


body {
    display: flex;
    margin: 0;
    background-color: #F9FAFE !important;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8888884d;
    opacity: 0.1;
    border-radius: 20px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #86868686; 
  }

#left {
    flex: 1;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-family: Poppins, sans-serif !important;
    box-shadow: 0 5px 25px -5px rgba(30,16,84,.1);
}

.form-left {
    width: 100%;
    height: 100%;
    max-height: 694px;
    overflow: scroll;
    display: grid;
    justify-items: center;

}

.form-floating label{
    opacity: 0.5 !important; 
}

.download-btn {
    margin-bottom: 20px;
}

.download-btn button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#right {
    flex: 2;
    flex-basis: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/annie-spratt-xTaOPMa6wAE-unsplash.jpg);
    z-index: 1;
    background-size: cover;
}

/* certficate */

body {
    font-family: Roboto;
    
}

img.profilepic {
    width: auto;
    height: 60px;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.certificate-container {
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 842px;
    height: 595px;
    font-size: 13px !important;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-weight:500;
}

.tc-container {
    height: 695px;
    width: 494px;
    font-size: 9px !important;
    line-height: 1;
}

input#image {
    padding: 40px;
}

.transfer-certificate{
    padding: 15px 0;
}

.mini-header {
    display: flex;
    justify-content: space-between;
    margin: 0 45px;
}

.strong{
    font-weight: 700;
    color: rgb(183, 9, 9);
}

.water-mark-overlay{
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background-image: url("../assets/shanmugha-logo.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

svg {
    fill: currentColor;
    height: auto;
    max-width: 70vmin;
    transform-origin: center;
    width: 8%;
    position: absolute;
    bottom: 150px;
    right: 100px;
  }

  
  .footer-note {
    text-align: center;
    font-size: 6px;
    opacity: 0.8;
}

.tc-overlay{
    background-size: 50%;
}


.certificate {
    border: 4px solid #0C5280;
    padding: 15px 0;
    position: relative;
    background-color: white;
    z-index: -2;
}

.certificate:after {
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background-image: url("../assets/college-of-engineering-and-technology.png");
    background-size: 30%;
    background-repeat: repeat;
    opacity: 0.1;
    z-index: -1;
    color: gray;
}

img.logo {
    width: 60%;
}

.certificate-header{
    display: grid;
    justify-items: center;
}

.certificate-title {
    text-align: center;
    border: 2px #0C5280 solid;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 15px 0;
}

/* .tc-title{
    margin: 15px 0;
} */

.certificate-content {
    margin: 10px auto 0 auto;
    width: 80%;
}

.about-certificate {
    width: 100%;
    padding-left: 30px;
    line-height: 1.5;
}

.topic-description {
    text-align: center;
}


/* .tc-content{
    display: flex;
    flex-direction: column;
} */

.element{
  display: flex;
  flex-direction: row;
}

.topic-title{
    flex: 1;
}

.second-element{
    margin-left: 15px;
    text-transform:uppercase;
}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tc-footer{
    margin-top: 20px;
}


.container {
    width: 100%;
}

.card {
    width: 250px;
    height: 250px;
    background-color: #2f3335;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: poppins;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0, -0.98, 0.82, 2.26);
}


.card:hover {
    transform: scale(1.1);
    background-color: #fff;
    border: 5px solid #2f3335;
    color: #2f3335;
    transition: 0.5s cubic-bezier(0, -0.98, 0.82, 2.26);
}

.college-logo {
    display: flex;
    justify-content: center;
}

.college-logo img {
    height: 100px;
    margin-top: 25px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    margin: 15% 0;
    width: 100%;
    text-align: center;
}










