/* Add your CSS styles here */
/* Add your CSS styles here */
body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
}

#left {
    flex: 1;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.form-left {
    width: 100%;
    height: 100%;
    max-height: 694px;
    overflow: scroll;
    display: grid;
    justify-items: center;
}

.download-btn {
    margin-bottom: 20px;
}

.download-btn button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#right {
    flex: 2;
    flex-basis: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* certficate */

body {
    font-family: Roboto;
    
}

img.profilepic {
    width: auto;
    height: 60px;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.certificate-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    width: 842px;
    height: 595px;
    font-size: 13px !important;
    line-height: 1.6;
}

.tc-container {
    height: 695px;
    width: 494px;
    font-size: 8px !important;
    line-height: 1;
}

input#image {
    padding: 40px;
}

.certificate {
    border: 7px solid #0C5280;
    padding: 25px 0 30px 0;
    position: relative;
}

.transfer-certificate{
    padding: 20px 0;
}

.mini-header {
    display: flex;
    justify-content: space-between;
    margin: 0 45px;
}

.strong{
    font-weight: 700;
    color: rgb(183, 9, 9);
}

.water-mark-overlay{
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background-image: url("../assets/shanmugha-logo.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

.tc-overlay{
    background-size: 50%;
}

.certificate:after {
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background-image: url("../assets/college-of-engineering-and-technology.png");
    background-size: 30%;
    background-repeat: repeat;
    opacity: 0.1;
    z-index: -1;
    color: gray;
}

img.logo {
    width: 60%;
}

.certificate-header{
    display: grid;
    justify-items: center;
}

.certificate-title {
    text-align: center;
    border: 2px #0C5280 solid;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 15px 0;
}

/* .tc-title{
    margin: 15px 0;
} */

.certificate-content {
    margin: 10px auto 0 auto;
    width: 80%;
}

.about-certificate {
    width: 100%;
    padding-left: 30px;
    line-height: 1.5;
}

.topic-description {
    text-align: center;
}


/* .tc-content{
    display: flex;
    flex-direction: column;
} */

.element{
  display: flex;
  flex-direction: row;
}

.topic-title{
    flex: 1;
}

.second-element{
    margin-left: 15px;
    text-transform:uppercase;
}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tc-footer{
    margin-top: 20px;
}













